---
import Base from "../layouts/Base.astro";

---
<Base title="Links">
    <h1>Links</h1>
    <ul>
        <li>Check out my <a href="/link/github">GitHub</a></li>
        <li>My Discord is: @iamrealh</li>
        <li>I have Matrix: ecodz@matrix.org</li>
    </ul>
</Base>
