---
import Base from "../layouts/Base.astro";

---

<Base title="Projects">
    <h1>My Projects</h1>
    <ul>
        <li><a href="/link/hqapps">HQ Apps</a>: A shitty "company" (not really). We make shitty apps with shitty english (i was bored idk).</li>
        <li><a href="/link/saffari">Saffari for androd</a>: Product of HQ Apps (check it out its crap but we (HQ Apps Team) put some effort in it)</li>
    </ul>
    <p>more comming soon ^-^</p>
</Base>